{% extends 'base.html' %}

{% block TITLE %}
Music
{% endblock %}
	
 {% block body %}   
 
<body>
    <table width="100%">
        <tr>
            <td style="padding: 0px 10px 0px 200px; margin-left:400px"><h1 align = "Center"><b>Music Composition Generator</b>  </h1></td>
            <td style="padding: 0px 10px 0px 0px" position="absolute" top="5px" right="5px" align="right">
            <ul class="no-bullets">
                <li style="padding: 20px 10px 0px 10px"> <p align="left"> <b> For more features: </b>  </p></li>
                <li style="padding: 0px 10px 5px 10px"><a href="/login" class="btn form-control btn-success">Login</a></li>
                <li style="padding: 0px 10px 10px 10px"><a href="/register" class="btn form-control btn-primary">Register</a></li>
            </ul>
        </td>
        </tr>
    </table>

    <table id="musics" >
      <tr>
        <th>
            <div justify-content="center">
                <label for="sortby">sort by</label> <br/>
                <select name="sortby" id="sortby" placeholder="newest">
                    <option value="1">newest</option>
                    <option value="2">oldest</option>
                </select>
            </div>
        </th>
        <th><label for="by_genre" id="expiry_m">genre</label> <br/>
            <select name="by_genre" id="by_genre" placeholder="all">
                <option value="1">all</option>
                <option value="2">classical</option>
            </select>
        </th>
        <th></th>
      </tr>
    </table>

    <input type="hidden" id="songs" name="songs" value="{{ songs }}">
    <input type="hidden" id="genres" name="genres" value="{{ genres }}">
    <input type="hidden" id="scores" name="scores" value="{{ scores }}">

<!-- Latest compiled and minified JavaScript-->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!--<script src="jquery-3.5.1.js"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        var $musicTable = $('#musics');
        //var port = 'http://127.0.0.1:8887/audio/';

        var songs = document.getElementById("songs").value;
        var genres = document.getElementById("genres").value;
        var scores = document.getElementById("scores").value;

        var port = 'static/audio/';
        var substr = songs.split(',');
        var genreSub = genres.split(',');
        var scoreSub = scores.split(',');

        var totalLen = substr.length;

        function start(){
            var content = "";
            for(i=0; i<substr.length; ++i){
                content += `<tr><td> <p id =\"${i}_name\">${substr[i]}</p> <p id=\"${i}_genre\"> ${genreSub[i]} </p>
                <audio id=\"${i}a\" controls><source id=\"${i}\" src=\"${port}${substr[i]}-piyano.wav\" type=\"audio/wav\" />
                Your browser does not support the audio element.
                </audio>
                </td><td><p><label>select the instrument type</label> <br/>
                <select id=\"${i}s\" placeholder="piano">
                    <option value="1">piano</option>
                    <option value="2">guitar</option>
                </select>
                </p><br/></td><td><p>rate it</td></p></tr>`;
            }
            $('#musics tr:last').after(content);
        }
        start();

        function add_elements(i){
            var content = `<tr><td> <p id =\"${i}_name\">${substr[i]}</p> <p id=\"${i}_genre\"> ${genreSub[i]} </p>
                <audio id=\"${i}a\" controls><source id=\"${i}\" src=\"${port}${substr[i]}-piyano.wav\" type=\"audio/wav\" />
                Your browser does not support the audio element.
                </audio>
                </td><td><p><label>select the instrument type</label> <br/>
                <select id=\"${i}s\" placeholder="piano">
                    <option value="1">piano</option>
                    <option value="2">guitar</option>
                </select>
                </p><br/></td><td><p>rate it</td></p></tr>`;
            return content;
        }

        function MinPecas(str){
            if (this.value === '1'){
                var i = parseInt(str.currentTarget.myParam);
                var source = document.getElementById(i.toString());
                var audio = document.getElementById(i.toString() + 'a');
                source.src = port + substr[i] + "-piyano.wav";
                audio.load();
            }
            if (this.value === '2'){
                var i = parseInt(str.currentTarget.myParam);
                var source = document.getElementById(i.toString());
                var audio = document.getElementById(i.toString() + 'a');
                source.src = port + substr[i] + "-gitar.wav";
                audio.load();
            }
        }

        var someInput;
        for(i=0; i<substr.length; ++i){
            someInput = document.getElementById(i.toString() + "s");
            someInput.myParam = i.toString();
            someInput.addEventListener('change', MinPecas, false);
        }

        function sorting(){
            if (this.value === '1'){
                for(i=0; i<totalLen; ++i){
                    document.getElementById(i.toString() + "_name").text = substr[i];
                    document.getElementById(i.toString() + "_genre").text = genreSub[i];
                    var source = document.getElementById(i.toString());
                    var audio = document.getElementById(i.toString() + 'a');
                    source.src = port + substr[i] + "-piyano.wav";
                    audio.load();
                }
            }
            if (this.value === '2'){
                var j = 0;
                for(i=totalLen-1; i>=0; --i){
                    document.getElementById(j.toString() + "_name").innerHTML = substr[i];
                    document.getElementById(j.toString() + "_genre").innerHTML = genreSub[i];
                    var source = document.getElementById(j.toString());
                    var audio = document.getElementById(j.toString() + 'a');
                    source.src = port + substr[i] + "-piyano.wav";
                    audio.load();
                    j++;
                }
            }
        }

        function sort_by_genre(){
            if (this.value === '1'){
                var Parent = document.getElementById("musics");
                while(Parent.childNodes.length > 1)
                {
                    Parent.removeChild(Parent.childNodes[2]);
                    var Parent = document.getElementById("musics");
                }
                start();
            }
            if (this.value === '2'){
                var Parent = document.getElementById("musics");
                while(Parent.childNodes.length > 1)
                {
                    Parent.removeChild(Parent.childNodes[2]);
                    var Parent = document.getElementById("musics");
                }

                var content = "";
                for(i=totalLen-1; i>=0; --i){
                    content += add_elements(i);
                }
                $('#musics tr:last').after(content);
            }
        }

        document.getElementById("sortby").addEventListener('change', sorting);
        document.getElementById("by_genre").addEventListener('change', sort_by_genre);

    });
</script>
</body>
{% endblock %}
