{% extends 'base.html' %}

{% block TITLE %}
Login
{% endblock %}
	
{% block body %} 	

   </head>
<body>
    <div class="container">
        <div class="row" style="margin-top: 40px">
            <div class="col-sm-6">
                <form method="POST">
                    <div class="form-group">
                      <label>Username : </label>
                      <input type="text" name="uname" class="form-control" id="uname">
                    </div>
                    <div class="form-group">
                      <label>Password : </label>
                      <input type="password" name="passw" class="form-control" id="passw">
                    </div>
                    <button type="submit" class="btn form-control btn-default">Login</button>
                </form>
            </div>
        </div>
    </div>
<input type="hidden" id="alert" name="alert" value="{{alert}}">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- Latest compiled and minified JavaScript-->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!--<script src="jquery-3.5.1.js"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        var is_alert = 0;
        var is_alert = document.getElementById("alert").value;
        is_alert = parseInt(is_alert);
        if(is_alert === 1) {
            alert("wrong user name or password!");
        }
    });
</script>
</body>
{% endblock %}