{% extends 'base.html' %}

{% block TITLE %}
Register
{% endblock %}
	
 {% block body %}
<body>
    <div class="container">
        <div class="row" style="margin-top: 40px">
            <div class="col-sm-6">
                <form method="POST">
                    <div class="form-group">
                      <label for="uname">Username : </label>
                      <input type="text" name="uname" class="form-control" id="uname">
                    </div>
                    <div class="form-group">
                      <label for="mail">Email : </label>
                      <input type="email" name="mail" class="form-control" id="mail">
                    </div>
                    <div class="form-group">
                      <label for="passw">Password : </label>
                      <input type="password" name="passw" class="form-control" id="passw">
                    </div>
                    <button type="submit" class="btn form-control btn-default">Register</button>
                </form>
            </div>
        </div>
    </div>
<input type="hidden" id="alert_var" name="alert_var" value="{{alert}}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {
        var alert_var = 0;
        var alert_var = document.getElementById("alert_var").value;
        alert_var = parseInt(alert_var);
        if(alert_var === 1) {
            alert("User name is not available");
        }
    });
</script>
</body>
{% endblock %}